<div class="jumbotron">
  <h1>Welcome to Girlcrush!</h1>
  <p><%= link_to 'Start Crushing', crushes_path, class: 'btn btn-primary btn-lg' %></p>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="list-group">
      <div class="list-group-item">Activity stream</div>
    </div>
  </div><!-- /.col-lg-12 -->
</div><!-- /.row -->